<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="reportMapper">


	<resultMap type="report" id="reportResultSet">
		<result column="REPORT_NO" property="reportNo"/>
		<result column="REPORT_ID" property="reportId"/>
		<result column="REPORTED_ID" property="reportedId"/>
		<result column="PRO_NO" property="proNo"/>
		<result column="REPORT_CATE_NO" property="reportCategoryNo"/>
		<result column="REPORT_CONTENT" property="reportContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="REPORT_STATUS" property="reportStatus"/>
	</resultMap>
	
	
<!-- 신고하기 -->
	<insert id="reportMember" parameterType="report">
		INSERT INTO REPORT (
							REPORT_NO, 
							REPORT_ID, 
							REPORTED_ID, 
							PRO_NO, 
							REPORT_CATE_NO, 
							REPORT_CONTENT, 
							CREATE_DATE,
							REPORT_STATUS
							)
	            	VALUES(
	            			SEQ_RENO.NEXTVAL,
	            			#{reportId}, 
	            			#{reportedId}, 
	            			#{proNo}, 
	            			#{reportCategoryNo}, 
	            			#{reportContent},
	            			SYSDATE,
	            			'Y'
	            			)
	</insert>
	
	
	
	
	
	
</mapper>
