div{
    box-sizing: border-box;
/*     border: 1px solid red; */
}
.wrap{
    width: 450px;
    height: 450px;
    margin: auto;
    border: 2px solid gray;
}
.wrap>div{ 
    width: 100%;
}
#header{
    height: 20%;
}
#content{
    height: 70%; 
}
#footer{
    height: 10%;
}
/* #content>div{
    height: 100%;
    float: left;
} */
#title{
    font-family: "Malgun Gothic";
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 50px;
    padding-top: 30px;
    text-align: center;
}
#out{
    height: 29%;
    font-family: "Malgun Gothic";
    font-size: 19px;
    font-weight: 550;
    text-align: center;
}
#content1{
    height: 100px;
    text-align: center;
    font-family: "Malgun Gothic";
}
#content2{
    height: 20px;
    font-size: 11px;
    color: navy;
    font-weight: 700;
    text-align: center;
    padding-top: 16px;
}
#content3{
    height: 183px;
}
#content_3_1{
    text-align: center;
    height: 50px;
    font-family: "Malgun Gothic";
    font-size: 17px;
    font-weight: 550;
}
#content_3_2{
    text-align: center;
    font-family: "Malgun Gothic";
    font-size: 17px;
    font-weight: 550;
}
#content_3_3{
    text-align: center;
    font-family: "Malgun Gothic";
    font-size: 17px;
    font-weight: 550;
}
#content_3_4{
	height:20px;
	 text-align: center;
    font-family: "Malgun Gothic";
    font-size: 17px;
}
.span{
    padding-top: 50px;
    font-family: "Malgun Gothic";
}
#pre{
    font-family: "Malgun Gothic";
}
.btn3{
    border-radius: 4px;
    border: 0px;
    height: 25px;
    background-color: lightgray;
    color: black;
    width: 70px;
    height: 30px;
    margin-left: 250px;
    font-weight: 600;
    
}
.btn4{
    border-radius: 4px;
    border: 0px;
    height: 25px;
    background-color: darkgray;
    color: white;
    width: 70px;
    height: 30px;
    font-weight: 600;
}
#image{
    height: 100%;
    width: 30%;
}
#inputbox{
    width: 230px;
    height: 30px;
    border-radius: 4px;
    background: #f5f5f5;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.42);
    font-family: "Malgun Gothic";
    font-size: 12px;  
}
#footer_1{
    height: 10px;
    
}
